{% extends 'bases/base2.html'  %}

{% load static %}

{% block title %}
    Forgot-password
{% endblock title %}


{% block content %}
<!-- Login 20 start -->
<div class="login-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-12 bg-color-10">
                <div class="form-section">
                    <div class="logo clearfix">
                        <a href="{% url 'login' %}">
                            <img src="{% static 'assets/img/logos/logo-2.png' %}" alt="logo">
                        </a>
                    </div>
                    <h3>Recover your password</h3>
                    <div class="login-inner-form">
                        <form action="#" method="GET">
                            <div class="form-group form-box">
                                <input type="email" name="email" class="input-text" placeholder="Email Address">
                                <i class="flaticon-mail-2"></i>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-md btn-theme btn-block">Send Me Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12 bg-img none-992">
                <div class="info">
                    <h1>Welcome to Dreamrs</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login 20 end -->

{% endblock content %}

